* {
  box-sizing: border-box;
}

body {
  font-family: "Times New Roman", Times, serif;
  padding: 5px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

main {
  display: flex;
  flex-flow: column wrap;
  width: 500px;
  color: rgb(0, 0, 0);
  border: 1px solid rgb(187, 206, 78);
  padding: 10px 20px 30px 20px;
}

header {
  display: flex;
  background-color: rgb(187, 206, 78);
  align-items: center;
  justify-content: center;
  color: white;
  margin: 10px 0;
  width: 500px;
  position: sticky;
  top: 0;
}

header h2 {
  font-weight: lighter;
}
