.flex-container {
    height: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: rap;
    justify-content: flex-start;
    align-items: flex-end;
    align-content:
}

.flex-item {
    order: 1;
    width: 10px;
    height: 10px;
    flex-grow: 2;
    align-self: center;
}