* {
  box-sizing: border-box;
}

body {
  margin: 100px;
}

.big {
  width: 500px;
  height: 400px;
  background-color: rgb(109, 228, 109);
  position: absolute;
}

.small {
  width: 100px;
  height: 100px;
  background-color: white;
  position: absolute;
  top: 50px;
  left: 50px;
}

.small2 {
  width: 100px;
  height: 100px;
  background-color: white;
  position: absolute;
  right: 50px;
  bottom: 50px;
}
