* {
  box-sizing: border-box;
}

body {
  margin: 50px;
}

.face {
  width: 500px;
  height: 500px;
  background-color: rgb(104, 226, 104);
  border-radius: 50%;
  position: absolute;
}

.eye1 {
  width: 100px;
  height: 100px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 70px;
  left: 100px;
}

.eye2 {
  width: 100px;
  height: 100px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 70px;
  right: 100px;
}

.nose {
  width: 70px;
  height: 70px;
  background-color: white;
  position: absolute;
  top: 200px;
  left: 215px;
}

.mouth {
  width: 200px;
  height: 20px;
  background-color: white;
  position: absolute;
  bottom: 130px;
  left: 150px;
}
