body {
  margin: 80px;
  font-family: "Times New Roman", Times, serif;
}
.container {
  display: flex;
  flex-flow: wrap;
  border: 1px solid black;
}
.header {
  flex-basis: 100%;
  border: 1px solid black;
  height: 150px;
}
.left {
  height: 300px;
  flex-grow: 1;
}
.content {
  border: 1px solid black;
  flex-grow: 3;
}
.right {
  flex-grow: 1;
}
.footer {
  flex-basis: 100%;
  border: 1px solid black;
  height: 150px;
}
