body {
  margin: 80px;
  font-family: "Times New Roman", Times, serif;
}
.container {
  display: flex;
  flex-flow: wrap;
  border: 1px solid black;
}
.left * {
  border: 1px solid black;
  margin: 20px;
}
.content * {
  border: 1px solid black;
  margin: 20px 20px 20px 0px;
}
.right * {
  border: 1px solid black;
  margin: 20px 20px 20px 0px;
}
.left {
  width: 150px;
  height: 150px;
}
.content {
  flex-grow: 3;
}
.right {
  width: 150px;
  height: 150px;
}
.left1,
.left3,
.content1,
.content3,
.right1,
.right3 {
  height: 100px;
}
.left2,
.content2,
.right2 {
  height: 250px;
}
